### Loan Prediction via Pandas

Gareth Duffy 

https://www.analyticsvidhya.com/blog/2016/01/12-pandas-techniques-python-data-manipulation/

https://github.com/shri1407/Loan-Prediction-Dataset/blob/master/LoanPrediction.ipynb

In [15]:
# Load the data

import pandas as pd
import numpy as np
import csv 
data = pd.read_csv("https://raw.githubusercontent.com/shri1407/Loan-Prediction-Dataset/master/test.csv", index_col="Loan_ID")
data

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
Loan_ID,,,,,,,,,,,
LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban
LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban
LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural
LP001059,Male,Yes,2,Graduate,NaN,13633,0,280.0,240.0,1.0,Urban
LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban
LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban
LP001082,Male,Yes,1,Graduate,NaN,2185,1516,162.0,360.0,1.0,Semiurban
LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,NaN,Urban
LP001094,Male,Yes,2,Graduate,NaN,12173,0,166.0,360.0,0.0,Semiurban
LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban
LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban
LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban
LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban
LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban
LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban
LP001121,Male,Yes,1,Not Graduate,No,1888,1620,48.0,360.0,1.0,Urban
LP001124,Female,No,3+,Not Graduate,No,2083,0,28.0,180.0,1.0,Urban
LP001128,NaN,No,0,Graduate,No,3909,0,101.0,360.0,1.0,Urban
LP001135,Female,No,0,Not Graduate,No,3765,0,125.0,360.0,1.0,Urban
LP001149,Male,Yes,0,Graduate,No,5400,4380,290.0,360.0,1.0,Urban
LP001153,Male,No,0,Graduate,No,0,24000,148.0,360.0,0.0,Rural
LP001163,Male,Yes,2,Graduate,No,4363,1250,140.0,360.0,NaN,Urban
LP001169,Male,Yes,0,Graduate,No,7500,3750,275.0,360.0,1.0,Urban
LP001174,Male,Yes,0,Graduate,No,3772,833,57.0,360.0,NaN,Semiurban
LP001176,Male,No,0,Graduate,No,2942,2382,125.0,180.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...
LP002856,Male,Yes,0,Graduate,No,2292,1558,119.0,360.0,1.0,Urban
LP002857,Male,Yes,1,Graduate,Yes,2360,3355,87.0,240.0,1.0,Rural
LP002858,Female,No,0,Graduate,No,4333,2333,162.0,360.0,0.0,Rural
LP002860,Male,Yes,0,Graduate,Yes,2623,4831,122.0,180.0,1.0,Semiurban
LP002867,Male,No,0,Graduate,Yes,3972,4275,187.0,360.0,1.0,Rural
LP002869,Male,Yes,3+,Not Graduate,No,3522,0,81.0,180.0,1.0,Rural
LP002870,Male,Yes,1,Graduate,No,4700,0,80.0,360.0,1.0,Urban
LP002876,Male,No,0,Graduate,No,6858,0,176.0,360.0,1.0,Rural
LP002878,Male,Yes,3+,Graduate,No,8334,0,260.0,360.0,1.0,Urban
LP002879,Male,Yes,0,Graduate,No,3391,1966,133.0,360.0,0.0,Rural
LP002885,Male,No,0,Not Graduate,No,2868,0,70.0,360.0,1.0,Urban
LP002890,Male,Yes,2,Not Graduate,No,3418,1380,135.0,360.0,1.0,Urban
LP002891,Male,Yes,0,Graduate,Yes,2500,296,137.0,300.0,1.0,Rural
LP002899,Male,Yes,2,Graduate,No,8667,0,254.0,360.0,1.0,Rural
LP002901,Male,No,0,Graduate,No,2283,15000,106.0,360.0,NaN,Rural
LP002907,Male,Yes,0,Graduate,No,5817,910,109.0,360.0,1.0,Urban
LP002920,Male,Yes,0,Graduate,No,5119,3769,120.0,360.0,1.0,Rural
LP002921,Male,Yes,3+,Not Graduate,No,5316,187,158.0,180.0,0.0,Semiurban
LP002932,Male,Yes,3+,Graduate,No,7603,1213,197.0,360.0,1.0,Urban
LP002935,Male,Yes,1,Graduate,No,3791,1936,85.0,360.0,1.0,Urban
LP002952,Male,No,0,Graduate,No,2500,0,60.0,360.0,1.0,Urban
LP002954,Male,Yes,2,Not Graduate,No,3132,0,76.0,360.0,NaN,Rural
LP002962,Male,No,0,Graduate,No,4000,2667,152.0,360.0,1.0,Semiurban
LP002965,Female,Yes,0,Graduate,No,8550,4255,96.0,360.0,NaN,Urban
LP002969,Male,Yes,1,Graduate,No,2269,2167,99.0,360.0,1.0,Semiurban
LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [19]:
# Boolean indexing
# list of all females who are not graduate are married.

data.loc[(data["Gender"]=="Female") & (data["Education"]=="Not Graduate") & (data["Married"]=="Yes"), ["Gender","Education","Married"]]

          Gender     Education Married
Loan_ID
LP002442  Female  Not Graduate     Yes
LP002476  Female  Not Graduate     Yes
LP002635  Female  Not Graduate     Yes
LP002786  Female  Not Graduate     Yes
LP002826  Female  Not Graduate     Yes

In [21]:
# Apply function

# Apply returns some value after passing each row/column of a data frame with some function. The function can be both default or user-defined. 
# For instance, here it can be used to find the missing values in each row and column.

#Create the function:
def num_missing(x):
  return sum(x.isnull())

#Applying per column:
print("Missing values per column:")
print(data.apply(num_missing, axis=0)) #axis=0 defines that function is to be applied on each column

#Applying per row:
print("\nMissing values per row:")
print(data.apply(num_missing, axis=1).head()) #axis=1 defines that function is to be applied on each row

Missing values per column:
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

Missing values per row:
Loan_ID
LP001015    0
LP001022    0
LP001031    0
LP001035    1
LP001051    0
dtype: int64

In [34]:
# Pivot table

#Determine pivot table
impute_grps = data.pivot_table(values=["LoanAmount"], index=["Gender","Married","Self_Employed"], aggfunc=np.mean)
print(impute_grps)

                              LoanAmount
Gender Married Self_Employed
Female No      No             112.868421
               Yes            171.000000
       Yes     No             141.708333
Male   No      No             124.671429
               Yes            127.285714
       Yes     No             141.919255
               Yes            157.333333

In [35]:
# Merge DataFrames

prop_rates = pd.DataFrame([1000, 5000, 12000], index=['Rural','Semiurban','Urban'],columns=['rates'])
prop_rates

           rates
Rural       1000
Semiurban   5000
Urban      12000

In [36]:
# Now we can merge this information with the original dataframe as:

data_merged = data.merge(right=prop_rates, how='inner',left_on='Property_Area',right_index=True, sort=False)
data_merged.pivot_table(values='Credit_History',index=['Property_Area','rates'], aggfunc=len)

                     Credit_History
Property_Area rates
Rural         1000            111.0
Semiurban     5000            116.0
Urban         12000           140.0

In [37]:
# Iterating over rows of a dataframe

#Check current type:
data.dtypes

Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object